<nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">
          <i class="bi bi-house"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/student">
          <i class="bi bi-person-circle"></i>
          Student Management
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/module">
          <i class="bi bi-journals"></i>
          Program Management
        </a>
      </li>
            <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/register">
          <i class="bi bi-bank2"></i>
          Registration
        </a>
      </li>
    </ul>
  </div>
</nav>

<script>
$(document).ready(function() {
  // Get the current page URL
  var currentUrl = window.location.pathname;

  // Iterate through each nav link and check if it matches the current URL
  $('#sidebarMenu .nav-link').each(function() {
    var linkUrl = $(this).attr('href');

    // Add the "active" class if the link matches the current URL
    if (currentUrl === linkUrl) {
      $(this).addClass('active');
    }
  });
});
</script>
