<div class="row" style="display: flex; flex-direction:row; justify-content:center" >
   <h1 class="text-center p-5">Student Management System</h1>
  <div class="col-sm-4 mb-3 mb-sm-0 text-center">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-person-circle" style="font-size: 130px;"></i>
        <h5 class="card-title">Student Management</h5>
        <a href="student" class="btn btn-primary">Click</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 text-center">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-journals" style="font-size: 130px;"></i>
        <h5 class="card-title">Program Management</h5>
        <a href="module" class="btn btn-primary">Click</a>
      </div>
    </div>
  </div>
    <div class="col-sm-4 text-center">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-bank2" style="font-size: 130px;"></i>
        <h5 class="card-title">Registration</h5>
        <a href="register" class="btn btn-primary">Click</a>
      </div>
    </div>
  </div>
</div>